.services {
	background-color: rgba(255, 225, 161, 0.12);
	padding-top: 4rem;
	height: 672px;
}

.servicesGrid {
	display: grid;
	justify-items: center;
	align-items: baseline;
	/* grid-template-columns: repeat(3, 33.33vmin); */
	grid-template-columns: 1fr 1fr 1fr;
	margin: 5rem 0;
}

.partner {
	background-color: #ffe1a1;
	height: 342px;
	margin: 0px 5rem;
	border-radius: 1rem;
	position: relative;
	top: -151px;
	display: grid;
	grid-template-columns: 60% 40%;
	place-items: center;
}

.partner img {
	position: relative;
	top: -25px;
}

.spara {
	font-size: 32px;
	font-weight: 600;
	width: 400px;
	/* padding-left: 1rem; */
	/* align-: center; */
	margin-top: -25px;
	padding: 0;
}

.stwodes {
	/* justify-self: center; */
	width: 477px;
	font-weight: 600;
	font-size: 18px;
	margin: 2rem 0;
}
.sgrid1 {
	align-self: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
	.servicesGrid {
		grid-template-columns: 1fr;
		gap: 2rem;
	}

	.services {
		background-color: rgba(255, 225, 161, 0.12);
		padding-top: 0rem;
		margin-top: 0rem;
		height: 1300px;
		padding: 2rem;
		/* padding-bottom: 10rem; */
	}
	div > h2 {
		font-size: 28px;
	}
	.partner img {
		position: relative;
		top: -29px;
		width: 80%;
		/* left: -20px; */
		/* width: 276px; */
		margin: 0;
		padding: 0;
	}

	.partner {
		background-color: #ffe1a1;
		height: auto;
		width: calc(100vw - 2rem);
		margin: 0;
		border-radius: 1rem;
		position: relative;
		top: -350px;
		display: grid;
		grid-template-columns: 1fr;
		place-items: center;
		padding-right: 0;
		justify-content: center;
		margin: 0 1rem;
	}
	.sgrid1 {
		order: 2;
		/* margin-top: -50px; */
	}

	.spara {
		margin: 0;
		font-size: 28px;
		width: 60%;
		/* padding: 0 2rem; */
	}

	.stwodes {
		margin: 0;
		font-size: 18px;
		width: 100%;
		text-align: justify;
		padding: 0 20%;
		line-height: 2rem;
	}

	.ssbuton {
		/* justify-self: center; */
		/* margin: auto; */
		/* margin-left: 20rem;*/
		display: flex;
		margin: 1rem;

		/* place-items: center; */
		place-content: center;
	}
}
